<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lng</key>
		<string>129.071399</string>
		<key>lat</key>
		<string>35.164935</string>
		<key>title</key>
		<string>동의과학대학교</string>
		<key>subtitle</key>
		<string>우리의 꿈이자라는 곳</string>
	</dict>
	<dict>
		<key>lng</key>
		<string>129.062574</string>
		<key>lat</key>
		<string>35.159668</string>
		<key>title</key>
		<string>번개반점</string>
		<key>subtitle</key>
		<string>짜장이 맛있는 곳</string>
	</dict>
	<dict>
		<key>lng</key>
		<string>129.057329</string>
		<key>lat</key>
		<string>35.072659</string>
		<key>title</key>
		<string>영도 목장원</string>
		<key>subtitle</key>
		<string>피자가 맛있는 곳</string>
	</dict>
	<dict>
		<key>lng</key>
		<string>129.064973</string>
		<key>lat</key>
		<string>35.164437</string>
		<key>title</key>
		<string>송상현광장</string>
		<key>subtitle</key>
		<string>숲이 좋은곳</string>
	</dict>
</array>
</plist>
